include README.md
include LICENSE
include pyproject.toml
recursive-include kanby *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.pyo
global-exclude *.pyd
global-exclude .DS_Store
global-exclude *.so
prune kanby/__pycache__
prune build
prune dist
prune *.egg-info